<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Citibank</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Citi Platinum VISA/MasterCard</string>
			<key>Icon</key>
			<string>Citi Platinum VISA:MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi DIVIDEND Card</string>
			<key>Icon</key>
			<string>Citi DIVIDEND Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi Clear Platinum Card</string>
			<key>Icon</key>
			<string>Citi Clear Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi SMRT Platinum VISA Card</string>
			<key>Icon</key>
			<string>Citi SMRT Platinum VISA Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi TANGS Platinum VISA Card</string>
			<key>Icon</key>
			<string>Citi TANGS Platinum VISA Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi Paragon Platinum MasterCard</string>
			<key>Icon</key>
			<string>Citi Paragon Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citi PremierMiles Card</string>
			<key>Icon</key>
			<string>Citi PremierMiles Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citibank Visa Debit Card</string>
			<key>Icon</key>
			<string>Citibank Visa Debit Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CitiBusiness Card</string>
			<key>Icon</key>
			<string>CitiBusiness Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Citibank Business Gold Card</string>
			<key>Icon</key>
			<string>Citibank Business Gold Card.png</string>
		</dict>
	</array>
	<key>DBS</key>
	<array>
		<dict>
			<key>Title</key>
			<string>DBS Credit/Debit Visa or MasterCard</string>
			<key>Icon</key>
			<string>DBS Credit:Debit Visa or MasterCard.jpg</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DBS American Express Cards</string>
			<key>Icon</key>
			<string>DBS American Express Cards.jpg</string>
		</dict>
	</array>
	<key>HSBC</key>
	<array>
		<dict>
			<key>Title</key>
			<string>HSBC Premier MasterCard® credit card</string>
			<key>Icon</key>
			<string>62.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>HSBC Visa Platinum credit card</string>
			<key>Icon</key>
			<string>64.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>HSBC&apos;s Revolution credit card</string>
			<key>Icon</key>
			<string>63.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>HSBC debit card </string>
			<key>Icon</key>
			<string>61.png</string>
		</dict>
	</array>
	<key>OCBC</key>
	<array>
		<dict>
			<key>Title</key>
			<string>OCBC Arts Platinum MasterCard</string>
			<key>Icon</key>
			<string>OCBC Arts Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Best-OCBC Platinum MasterCard</string>
			<key>Icon</key>
			<string>Best-OCBC Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>FairPrice Plus Credit/Debit Cards</string>
			<key>Icon</key>
			<string>FairPrice Plus Credit:Debit Cards.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC IKEA friends VISA Card</string>
			<key>Icon</key>
			<string>OCBC IKEA friends VISA Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC NTU Visa Gold Card</string>
			<key>Icon</key>
			<string>OCBC NTU Visa Gold Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC Platinum MasterCard</string>
			<key>Icon</key>
			<string>OCBC Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC Robinsons Visa Platinum Card</string>
			<key>Icon</key>
			<string>OCBC Robinsons Visa Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC SMU Debit Card</string>
			<key>Icon</key>
			<string>OCBC SMU Debit Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC SMU Platinum MasterCard</string>
			<key>Icon</key>
			<string>OCBC SMU Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC Titanium MasterCard</string>
			<key>Icon</key>
			<string>OCBC Titanium MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Uplus Credit/Debit Cards</string>
			<key>Icon</key>
			<string>Uplus Credit:Debit Cards.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>OCBC YES! Card</string>
			<key>Icon</key>
			<string>OCBC YES: Card.png</string>
		</dict>
	</array>
	<key>POSB</key>
	<array>
		<dict>
			<key>Title</key>
			<string>POSB Credit/Debit Cards</string>
			<key>Icon</key>
			<string>POSB Credit:Debit Cards.jpg</string>
		</dict>
	</array>
	<key>UOB</key>
	<array>
		<dict>
			<key>Title</key>
			<string>SingTel-UOB Visa Platinum Card</string>
			<key>Icon</key>
			<string>SingTel-UOB Visa Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB PRVI American Express® Card</string>
			<key>Icon</key>
			<string>UOB PRVI American Express Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Visa Signature Card</string>
			<key>Icon</key>
			<string>UOB Visa Signature Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB ONE Card</string>
			<key>Icon</key>
			<string>UOB ONE Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Preferred Platinum Visa Card</string>
			<key>Icon</key>
			<string>UOB Preferred Platinum Visa Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Preferred Platinum MasterCard</string>
			<key>Icon</key>
			<string>UOB Preferred Platinum MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Lady&apos;s Card</string>
			<key>Icon</key>
			<string>UOB Lady&apos;s Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Lady&apos;s Platinum Card</string>
			<key>Icon</key>
			<string>UOB Lady&apos;s Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Lady&apos;s Solitaire Card</string>
			<key>Icon</key>
			<string>UOB Lady&apos;s Solitaire Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Visa Infinite Card</string>
			<key>Icon</key>
			<string>UOB Visa Infinite Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Preferred World MasterCard®</string>
			<key>Icon</key>
			<string>UOB Preferred World MasterCard.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Visa Gold Card</string>
			<key>Icon</key>
			<string>UOB Visa Gold Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Visa Classic Card</string>
			<key>Icon</key>
			<string>UOB Visa Classic Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB MasterCard® Gold Card</string>
			<key>Icon</key>
			<string>UOB MasterCard Gold Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB MasterCard® Classic Card</string>
			<key>Icon</key>
			<string>UOB MasterCard Classic Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Metro-UOB Platinum Card</string>
			<key>Icon</key>
			<string>Metro-UOB Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB-JCB Platinum Card</string>
			<key>Icon</key>
			<string>UOB-JCB Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB China Union Pay Platinum Card</string>
			<key>Icon</key>
			<string>UOB China Union Pay Platinum Card.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UOB Direct Visa Card</string>
			<key>Icon</key>
			<string>UOB Direct Visa Card.png</string>
		</dict>
	</array>
</dict>
</plist>
