<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Name</key>
		<string>Others</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>Name</key>
		<string>Asian</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>Name</key>
		<string>Cafe</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>Name</key>
		<string>Cakes &amp; Pastries</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>Name</key>
		<string>Chinese</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>Name</key>
		<string>European</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>Name</key>
		<string>Fusion</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>Name</key>
		<string>German</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>Name</key>
		<string>Indian</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10</string>
		<key>Name</key>
		<string>Italian</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>11</string>
		<key>Name</key>
		<string>Japanese</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>12</string>
		<key>Name</key>
		<string>Korean</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>13</string>
		<key>Name</key>
		<string>Local Asian</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>14</string>
		<key>Name</key>
		<string>Mediterranean</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>15</string>
		<key>Name</key>
		<string>Mexican</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>16</string>
		<key>Name</key>
		<string>Modern Chinese</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>17</string>
		<key>Name</key>
		<string>Modern European</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>18</string>
		<key>Name</key>
		<string>Peranakan</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>19</string>
		<key>Name</key>
		<string>Seafood</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>20</string>
		<key>Name</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>21</string>
		<key>Name</key>
		<string>Thai</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>22</string>
		<key>Name</key>
		<string>Vegetarian</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>23</string>
		<key>Name</key>
		<string>Vietnamese</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>24</string>
		<key>Name</key>
		<string>Western</string>
	</dict>
</array>
</plist>
